.giphys-masonary-container {
    flex: 1 1 auto;
}

.giphys-masonry {
    margin: auto;
    scrollbar-gutter: stable;
    transition: width 0.2s ease-out;
}

.giphy-wrapper>a {
    display: block;
}

.giphy-wrapper>a>img {
    background-color: #663399;
}